.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    border-bottom: black solid 5px;
}

.navbar__item {
    flex-basis: 20%;
    list-style-type: none;
    font-size: 2em;
    font-weight: bold;
}